Source: ifdl
Section: net
Priority: optional
Maintainer: dleonard <dleonard@dleonard.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: ifdl
Architecture: all
Depends: ${misc:Depends}, ifupdown
Description: ifdl
 Wrapper script for ifup which allows for multiple sets of network
 configurations on the same machine.
